@model List<Beer>

@{
    ViewData["Title"] = "Cervezas";
}

<link rel="stylesheet" href="styles.css">
<p>
    <a asp-action="Create">Crear</a>
</a>

<main class="container mt-5">
    <h1 class="text-center mb-4" style="font-weight: 300; font-size: 2.5rem;">Cervezas</h1>

    <div>
        <table class="table table-hover align-middle text-center modern-table">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Marca</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beer in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m =>beer.Name)</td>
                        <td>@Html.DisplayFor(m => beer.Brand.Name)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>