@{
    ViewData["Title"] = "TodoFulbo";
}

<!DOCTYPE html>
<html lang="en">
<body class="d-flex flex-column min-vh-100">
    <!-- Presentación -->
    <section class=" text-black text-center p-5">
        <h1>Bienvenido a TodoFulbo</h1>
        <p>Donde podrás ver las estadístias mundiales y hacer tus propios torneos de fútbol</p>
    </section>
    <!-- Estadísticas -->
    <section id="estadisticas" class="container py-5">
        <h2 class="text-center">Estadísticas de Fútbol en Tiempo Real</h2>
        <p class="text-center">Explora estadísticas de equipos, jugadores, y torneos de todo el mundo.</p>
        <!-- Tablas o gráficos de estadísticas -->
        <div class="row">
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Equipos" class="text-decoration-none">
                    <div class="card bg-light text-dark text-center p-3 shadow-sm">
                        <h3>Equipos</h3>
                        <p>Ranking de equipos, estadísticas de partidos y más.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Jugador" class="text-decoration-none">
                    <div class="card bg-light text-dark text-center p-3 shadow-sm">
                        <h3>Jugadores</h3>
                        <p>Datos sobre jugadores, goles, asistencias, y desempeño en la cancha.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="LigasTorneos" class="text-decoration-none">
                    <div class="card bg-light text-dark text-center p-3 shadow-sm">
                        <h3>Ligas y Torneos</h3>
                        <p>Información detallada sobre las ligas más populares.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- Crear Torneos -->
    <section id="torneos" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center">Crea y administra tu propio equipo</h2>
            <p class="text-center">Regístrate y comienza a organizar tus torneos personalizados.</p>
            <div class="text-center">
                <a asp-controller="Usuarios" asp-action="Registro" class="btn btn-success btn-bl">Regístrate Ahora</a>
            </div>
        </div>
    </section>
</body>
</html>