<div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-key="0af9199ed0343410307a172a69dd213b"
     data-league="true"
     data-team="true"
     data-season="true"
     data-theme="true"
     data-show-errors="false"
     data-show-logos="true"
     class="wg_loader">
</div>
<script type="module"
        src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>