<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoFulbo @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/api-football.css" />
    <link rel="icon" type="image/x-icon" href="~/images/soccer-ball-favicon.ico" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/soccer-ball.png" alt="logo" width="30" height="30" />
                    TodoFulbo
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#torneos">Crear Torneo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Account/Register">Registarse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container flex-grow-1">
        @RenderBody()
    </div>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: #f8f9fa;">
            Hecho por el equipo de TodoFulbo
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>